/* Modal CURSO */
.curso-cnt {
	padding-bottom: 30px !important;
}
.e-card img {
	filter: grayscale(80%);
}
.curso{
	cursor: pointer;
}
.border-left{
	border-left: 1px solid lightgray;
}
.modal {
    display: none; 
    position: fixed; 
    left: 0;
	top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
	overflow: auto;
	z-index: 1000;
}
.modal::before{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	display: block;
}
.modal-content {

    background-color: #fefefe;
    margin: 50px auto; 
    padding: 30px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #f40033;
    float: right;
    font-size: 28px;
    font-weight: bold;
	border: solid 1px lightgray;
	border-color: #f40033;
	border-radius: 3px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 992px) {
	.close {
		margin-bottom: 15px;
	}
	.modal-content  {
		margin: 0 auto;
		 width: 95%; 
	}
}

/* END Modal CURSO */
.e-btn-insc {

}
.e-card img {
	filter: grayscale(80%);
}
.btn-container {
	display: flex;
	padding: 1.25rem;
	align-self: flex-end;
	align-items: center;
    justify-content: center;
}
/* MODAL FORM */

.modal-form {
    display: none; 
    position: fixed; 
    left: 0;
	top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
	overflow: auto;
	z-index: 1000;
}
.modal-content-form {
	border-radius: 5px;
	color: white;
    background-color: #f40033;
    margin: 15vh auto; 
    padding: 30px;
    border: 1px solid #888;
    max-width: 400px;
}

.modal-form .close {
    color: #fefefe;
    float: right;
    font-size: 28px;
    font-weight: bold;
	border: solid 1px #fefefe;
	border-radius: 3px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.modal-form input {
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);

}
.modal-form label {
	display: block;
	margin-bottom: 10px;
}
.modal-form .e-btn {
	color: #f40033;
	background-color: white;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 992px) {
	.close {
		margin-bottom: 15px;
	}
	.modal-content  {
		margin: 0 auto;
		 width: 95%; 
	}
}

/* END MODAL FORM*/